/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul li  {
    list-style: none;
}

a,
ul li a {
    text-decoration: none;
}
html,
body,
header,
section,
footer,
main,
nav,
div,
ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: 200;
}

/* VARIABLES */

:root {
    --ff-primary: basic-sans, sans-serif;
    --clr-primary-orange: #E86609;
    --clr-primary-blue: #2AA5C0;
    --clr-text-grey: #757575;
    --clr-body: #333;
    --clr-bg: #ddd;
    --section-spacing: 1rem;
}

.bold {
    font-weight: 900;
}

.cart {
    width: 1280px;
    height: 10em;
}

/*BASE STYLES */

body {
    font-weight: normal;
    min-height: 100vh;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-body);
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;;*/
}

.brand {
    color:var(--clr-primary-blue);
    font-size: 25px;
}

.brand::before {
    content: "ste";
    color:var(--clr-primary-orange);
    font-size: 25px;
    margin: 0;
}
.content {
    width: 90vw;
    margin: 0.5rem auto;
    background: white;
}

/* Mobile*/
.nav-toggle-menu {
    display: flex;
    margin-left: auto;
    margin-right: 1.25em;
    padding: 6px 9px;
    border: 0px solid var(--clr-text-grey);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(60 63 66 / 32%),
                0 4px 12px rgb(60 63 66 / 15%);
}
.menu {
    justify-content: center;
    align-items: center;
}

.menu:hover {
    cursor: pointer;
}

.nav{
   display:none;
}

header {
    display: flex;
    box-shadow: 0 1px 3px rgb(60 63 66 / 32%),
                0 4px 12px rgb(60 63 66 / 15%);
    align-items: center;
    height: 68px;
}

.brand {
    margin-left: 1.25em;
}

.section-title {
    color: var(--clr-text-grey);
    font-size: 22px;
    font-weight: initial;
    padding: 0.2em 0 ;
    display: inline-block;
}

.card {
    padding: 0 10px;
    box-shadow: 0 1px 3px rgb(60 63 66 / 32%),
                0 4px 12px rgb(60 63 66 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 22px;
    color: var(--clr-primary-blue);
    margin: 10px 0;
}

.card-description {
    margin-bottom: 20px;
}

.card-footer {
    margin-bottom: 20px;
    margin-top: 40px;
}

.card-footer .live-preview a,
.card-footer .github a {
    color: white;
}

.card-footer .live-preview {
    background-color: var(--clr-primary-orange);
    border-radius: 30px;
    padding: 0.5em 1em;
    margin-right: 10px;

}

.card-footer .live-preview:hover {
    box-shadow: 0 1px 3px rgb(60 63 66 / 32%),
                0 4px 12px rgb(60 63 66 / 15%);
}

.card-footer .github {
    background-color: var(--clr-primary-blue);
    border-radius: 30px;
    padding: 0.5em 1em;
}

.github:hover {
    box-shadow: 0 1px 3px rgb(60 63 66 / 32%),
                0 4px 12px rgb(60 63 66 / 15%);
}

.skills-list {
    box-shadow: 0 1px 3px rgb(60 63 66 / 32%),
                0 4px 12px rgb(60 63 66 / 15%);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}

.skills-list > li > img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

footer {
    box-shadow: 0 4px 3px rgb(60 63 66 / 15%),
                0 -1px 12px rgb(60 63 66 / 32%);
}

footer > * {
    margin:  0;
    text-align: center;
}

.footer-top {
    display: flex;
    flex-direction: column;
}

/*======== SOCIALS ===========*/
.socials > ul {
    color: var(--clr-text-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.flex-item-social:nth-last-of-type(3) {
    margin-left: 2em;
}

.socials > ul > li > a {
    margin-right: 3em;
}

.nav-links-footer > ul > li a {
    color: var(--clr-primary-blue);
}

.copyright {
    padding: 20px 0;
    margin: 0 auto;
}

.copyright-floating:hover {
    border: 0px solid var(--clr-text-grey);
    box-shadow: 0 1px 3px rgb(60 63 66 / 32%),
                0 4px 12px rgb(60 63 66 / 15%);
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}


/*======== Tablets styles ========*/

@media only screen and (min-width: 768px) {

    header {
        display: flex;
        padding: 0 1em;
        justify-content: center;
        align-items: center;
    }

    .nav-toggle-menu {
        display: none;
    }

    .nav {
        display: block;
        flex-grow: 1;
        margin-right: 1em;
    }

    .nav-links-top {
        display: flex;
        gap: 1em;
    }

    .nav-links-top li a {
        color: var(--clr-primary-blue);
    }

    .nav-links-top li:nth-of-type(1) {
        margin-left: auto;
    }


    /* Main Section (Projects Section) */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 10px;
    }

    .card {
        margin-bottom: 0;
    }

    #tools {
        grid-column: span 2;
    }


    /*====== Social Icons ======*/
    .footer-top {
        display: flex;
        flex-direction: row;
    }
    .socials {
        margin-right: auto;
    }
    .nav-links-footer  {
        display: flex;
        align-items: center;
    }
    .nav-links-footer ul {
        display: flex;
    }

    .nav-links-footer ul li {
        margin-right: 2em;
        font-weight: initial;
    }

    
}

@media only screen and (min-width: 1024px) {

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}

@media only screen and (min-width: 1144px) {

    header, main, .skills-list, footer{
        width: 1000px;
        margin: 0 auto;
    }

    .grid-container {
        width: 1000px;
        margin: 0 auto;
    }

    .section-title {
        margin-left: 115px;
    }

}





/*======= 1440px =======*/ 

@media only screen and (min-width: 1400px) {
    /*.grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }*/

    header, main, .skills-list, footer{
        width: 1000px;
        margin: 0 auto;
    }

    .grid-container {
        width: 1000px;
        margin: 0 auto;
    }

    .section-title {
        margin-left: 150px;
    }

}

/*======= 4k - 2560px =======*/ 

@media only screen and (min-width: 2560px) {

    .section-title {
        margin-left: 650px;
    }
 

}